{% extends "rentals/base_rentals.html" %}

{% block rentals_title %}Create Rental{% endblock %}

{% block rentals_content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h5 class="mb-0">Create New Rental</h5>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <h6 class="mb-3">Rental Details</h6>
                    {{ rental_form.as_p }}

                    <h6 class="mb-3">Add Equipment</h6>
                    {{ rental_item_form.as_p }}

                    <div class="d-flex justify-content-between">
                        <a href="{% url 'rentals:rental_list' %}" class="btn btn-secondary">
                            <i class="fas fa-arrow-left"></i> Back to Rentals
                        </a>
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save"></i> Create Rental
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}