{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Log In - ROKNSOUND{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card login-card">
                <div class="card-header login-header">
                    <h1 class="text-white mb-4">LOG IN</h1>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        
                        {% if form.non_field_errors %}
                        <div class="alert alert-danger">
                            {% for error in form.non_field_errors %}
                            <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                        {% endif %}
                        
                        <div class="form-group mb-3">
                            <label for="id_username">Username or Email:</label>
                            <input type="text" name="username" id="id_login" class="form-control" required>
                            {% if form.username.errors %}
                            <div class="invalid-feedback d-block">
                                {% for error in form.username.errors %}{{ error }}{% endfor %}
                            </div>
                            {% endif %}
                        </div>