{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Log In - ROKNSOUND{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow">
            <div class="card-header bg-primary text-white">
                <h4 class="my-0">Log In</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary w-100 mt-3">Log In</button>
                </form>
                <div class="mt-3 text-center">
                    <p>Don't have an account? <a href="{% url 'users:register' %}">Register</a></p>
                    <p><a href="{% url 'users:password_reset' %}">Forgot your password?</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}